@use '@styles/variables' as *;

$iconSize: 50px;

.ListElement {
  position: relative;
  overflow: visible;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .IconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $iconSize;
    height: $iconSize;

    border-radius: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in;

    background-color: $color-background-3;

    .Icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    svg {
      fill: $color-white;
      width: 30px;
      height: 30px;
    }

    .NoIcon {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: $font-rg;
      color: $color-white;
    }

    &::before {
      content: '';
      width: 4px;
      height: 0px;
      display: block;
      position: absolute;
      background-color: $color-white;
      left: 0;
      border-radius: 20px;
      transition: all 0.1s ease-in;
    }

    &.Unread::before {
      height: 10px;
    }

    &:hover::before {
      height: 20px;
      transition: all 0.1s ease-in;
    }
    &.Active::before,
    &.Active:hover::before {
      height: 30px;
    }

    &.Active {
      border-radius: 30%;
      &.Colored {
        background-color: $color-primary;
      }
    }

    &:hover {
      cursor: pointer;
      border-radius: 30%;

      transition: all 0.2s ease-out;

      &.Colored {
        background-color: $color-primary;
      }
    }
  }
}

.TooltipContainer {
  position: absolute;
  z-index: 999;
  min-width: 50px;

  transform: translateY(-50%);
  .Tooltip {
    background-color: $color-background-4;
    color: $color-white;
    text-wrap: nowrap;
    padding: 10px 20px;
    text-align: center;

    border: 1px solid $color-background-2;
    border-radius: 10px;
    font-size: $font-rg;
  }
}
