@use '@styles/variables' as *;

.ListContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em 0;
  background-color: $color-background-4;

  width: 80px;
  height: 100%;

  // !NOTE: THIS BREAKS TOOLTIPS, IMPLEMENT A PORTAL BASED JS SOLUTION FOR TOOLTIPS
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
