@use './../../../styles/variables' as *;

.ListContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em 0;
  background-color: $color-background-4;

  width: 80px;
  height: 100%;
}
