@use '@styles/variables' as *;

.FriendListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 20px;

  color: $color-white;

  background-color: $color-background-2;
  .Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid $color-background-1;
    font-size: $font-rg;

    .FriendTabButton {
      padding: 8px 10px;

      &.AddFriendsButton {
        background-color: var(--theme-color);
        border-radius: 10px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
