@use '../../styles/variables' as *;

.FriendSidebar {


    .DirectMessagesContainer {
        padding: 0.5em;
        .DirectMessagesHeader {
            font-size: $font-xs;
            color: lightgray;
            margin-bottom: 5px;
        }
        .DirectMessagesList {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}