@use '@styles/variables' as *;

$plusSize: 1em;
$dropdownSize: 0.7em;

.ChannelCategory {
  padding: 0.5em 0;
  user-select: none;

  .CategoryHeader {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.4em;

    font-size: $font-sm;

    .CategoryName {
      width: 100%;
      flex-grow: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      color: gray;
    }
    svg {
      fill: gray;
    }

    .CreateButton {
      background: none;
      border: none;
      margin-right: 5px;
      .Plus {
        width: $plusSize;
        height: $plusSize;
      }
    }
    .Dropdown {
      width: $dropdownSize;
      height: $dropdownSize;
    }

    &:hover {
      cursor: pointer;

      .CategoryName {
        color: lightgray;
      }

      .Dropdown {
        fill: lightgray;
      }
    }

    .CreateButton:hover {
      cursor: pointer;
      .Plus {
        fill: lightgray;
      }
    }
  }
}
