@use '@styles/variables' as *;

$imageSize: 35px;

.Friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px 5px;
  border-radius: 20px;
  color: $color-gray;
  .ImageWrapper {
    width: $imageSize;
    height: $imageSize;
    border-radius: 100%;
    overflow: hidden;

    .Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow-clip-margin: unset;
    }
  }
  .FriendName {
    height: 100%;
    display: flex;
    flex-direction: row;

    span {
      font-size: $font-xs;
    }
  }

  &:hover {
    background-color: $color-background-2;
    cursor: pointer;
  }

  &.isActive {
    background-color: $color-background-1;
    color: $color-white;
  }
  &.isUnread {
    color: $color-white;
  }
}
