@use '@styles/variables' as *;

.InviteToServerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: $color-background-2;
  color: $color-white;

  .Header {
    text-align: center;
    font-size: $font-xl;
  }

  .GuildId {
    padding: 10px;
    background-color: $color-background-3;
  }
}
