
// Colors
$color-primary: #7289da;
$color-secondary: #7289da;
$color-background-1: #424549;
$color-background-2: #36393e;
$color-background-3: #282b30;
$color-background-4: #1e2124;


// Font-sizes
$font-xs: 0.6em;
$font-sm: 0.8em;
$font-rg: 1em;
$font-lg: 1.2em;
$font-xl: 1.4em;
$font-2xl: 1.6em;
$font-3xl: 1.8em;
$font-4xl: 2em;
