// Colors
$color-primary: #7289da;
$color-secondary: #7289da;
$color-background-1: #424549;
$color-background-1-active: #54575c;
$color-background-2: #36393e;
$color-background-3: #282b30;
$color-background-4: #1e2124;

$color-dark-gray: #636363;
$color-gray: #99aab5;
$color-white: #fefefe;
$color-pale-red: #ff9b9b;
$color-gold: #ffbf00;

// Font-sizes
$font-2xs: 0.7em;
$font-xs: 0.8em;
$font-sm: 0.9em;
$font-rg: 1em;
$font-lg: 1.1em;
$font-xl: 1.3em;
$font-2xl: 1.5em;
$font-3xl: 1.7em;
$font-4xl: 1.9em;

// Heights
$height-header: 50px;
$height-banner: 140px;
