@use '@styles/variables' as *;

$icon-size: 24px;

.OptionsMenuList {
  position: absolute;
  list-style: none;
  background-color: $color-background-1;
  color: $color-white;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);

  min-width: 90%;

  border: 1px $color-background-2 solid;
  border-radius: 10px;
  padding: 10px;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-xs;
    padding: 10px 10px;

    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: $color-background-1-active;
    }

    span {
      height: min-content;
    }

    svg {
      fill: $color-white;
      width: $icon-size;
      height: $icon-size;

      &.InviteUsersIcon {
        position: relative;
        left: 2px;
      }
    }

    &.LeaveServer {
      color: $color-pale-red;
      svg {
        fill: $color-pale-red;
      }

      &:hover {
        background-color: rgba($color-pale-red, 0.1);
      }
    }
  }
}
